.headerInput {
    font-weight: bold;
    font-size: 23px;
    font-family:sans-serif
}

.doctorOnlyMsg {
    display: inline-block;
    text-align: right;
    font-size: 10px;
}

.isRequiredSymbol {
    color: red;
    margin-left: 5px;
}

.inputTypeMsg {
    float: right;
}

/* .ui-message {
    border: 1px solid;
    margin: 0;
    width: 10px;
    padding: .25em .5em;
    display: inline-block;
    vertical-align: top;
} */