<p-toast></p-toast>
<div class="layout-topbar">
    
    <a routerLink="/" *ngIf="app.isHorizontal() && !app.isMobile()" class="topbar-logo">
        <img alt="logo" src="assets/layout/images/logo-HoMED-white.svg" />
    </a>

    <img alt="logo" src="assets/layout/images/logo-HoMED-white.svg" class="mobile-logo"/>

    <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="pi pi-bars">&#xE5D2;</i>
    </a>

    <a href="#" class="topbar-menu-btn" (click)="app.onTopbarMobileMenuButtonClick($event)">
        <i class="pi pi-user">&#xE853;</i>
    </a>

    <div class="layout-topbar-menu-wrapper">
        <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-active': app.topbarMenuActive}" (click)="app.onTopbarMenuClick($event)">
            <li #profile class="profile-item" [ngClass]="{'active-topmenuitem': app.activeTopbarItem === profile}" (click)="app.onTopbarRootItemClick($event, profile)">
                <a href="#">
                    <span class="profile-image-wrapper">
                        <img src="assets/layout/images/avatar1.png"/>
                    </span>
                    <span class="topbar-item-name profile-name">{{serviceman.name}}</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a href="#">
                            <i class="pi pi-cog"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="javascript:void(0)" (click)="logout()">
                            <i class="pi pi-power-off"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #notifications [ngClass]="{'active-topmenuitem':app.activeTopbarItem === notifications}" (click)="app.onTopbarRootItemClick($event, notifications)">
                <a href="#">
                    <i class="topbar-icon pi pi-bell"></i>
                    <span class="topbar-badge animated rubberBand">{{unreadCounter}}</span>
                    <span class="topbar-item-name">Notifications</span>
                </a>
                <ul class="triangleOverride fadeInDown" style="width: 500px;">
                    <li role="menuitem">
                        <div style="padding: 10px 10px 10px 10px;
                        display: block;
                        width: 100%;
                        box-sizing: border-box;
                        color: #909090;
                        background: #e1e1e1">
                            
                            <span style="font-size: large;">Notifications</span>
                            <button class="astext" (click)="deleteAllNotifications()">Delete All</button>
                            <button class="astext" (click)="readAllNotifications()" style="padding-right: 10px;">Mark All as Read</button>
                        </div>
                    </li>
                    <ng-container *ngFor="let notification of this.allNotifications">
                        <li role="menuitem" (mouseover)="notiHover=true" (mouseout)="notiHover=false">
                            <a (click)="redirecting(notification)" style="width:500px;" [ngClass]="{ 'unread' : !notification.isRead}">
                                <div class="p-grid">
                                    <div *ngIf="notification.isRead" class="p-col-10">
                                        <h5>{{notification.title}}</h5>
                                        <span>{{notification.message}}</span>
                                        <br/>
                                        <p style="font-size:0.8rem; color: #65676b">{{notification.notificationDate | date:'dd/MM/yyyy HH:mm'}}</p>
                                    </div>
                                    <div *ngIf="!notification.isRead" class="p-col-10">
                                        <h5 style="font-weight: bold;">{{notification.title}}</h5>
                                        <span style="font-weight: bold;">{{notification.message}}</span>
                                        <br/>
                                        <p style="color: #73acf7; font-weight: bold;">{{notification.notificationDate | date:'dd/MM/yyyy HH:mm'}}</p>
                                    </div>
                                    <div class="p-col-2" style="display: flex; align-items: center; justify-content: center;">
                                        <button pButton pRipple (click)="deleteNotification(notification)" type="button" icon="pi pi-trash" class="p-button-rounded p-button-outlined"></button>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </li>
        </ul>
    </div>
</div>


