<!doctype html>
<html>

<head>
    <title>Account Management</title>
</head>

<body>
    <div class=p-fluid>
        <div class="p-grid p-justify-center">
            <div class="p-col-12 p-lg-6">
                <p-card>
                    <div class="p-col-12" style="margin-bottom: 1rem">
                        <div class="card">
                            <h2>Personal Particulars</h2>
                            
                            <div class="p-grid">

                                <div class="p-col-12 p-md-6">
                                    <h4><i class="pi pi-id-card" style="font-size: 1rem"></i> Name</h4>
                                    <h4>{{name}}</h4>

                                </div>
                                <div class="p-col-12 p-md-6">
                                    <h4><i class="pi pi-check" style="font-size: 1rem"></i> ROD</h4>
                                    <h4>{{rod | date:'dd/MM/yyyy'}}</h4>
                                </div>
                                <div class="p-col-12 p-md-6">
                                    <h4><i class="pi pi-user" style="font-size: 1rem"></i> Gender</h4>
                                    <h4>{{gender.toString()}}</h4>
                                </div>
                                <div class="p-col-12 p-md-6">
                                    <h4><i class="pi pi-user-edit" style="font-size: 1rem"></i> Role</h4>
                                    <h4>{{serviceman.role.toString()}}</h4>
                                </div>

                            </div>
                            <div class="p-grid p-justify-center">
                                <div class="p-col-12 p-lg-6 p-md-8 p-sm-12">
                                    <button type="button" (click)="openModal()" expand="block" pButton icon="pi pi-key"
                                        label="Change Password"></button>
                                </div>
                            </div>
                        </div>

                    </div>






                    <p-toast key="tst" position="bottom-center"></p-toast>




                    <form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
                        <div class="p-col-12">
                            <p-card>
                                <div class="p-col-12">
                                    <h2>Contact Details <button *ngIf="!editFields" pButton type="button"
                                            class="gray-btn" icon="pi pi-pencil" style="float: right;"
                                            (click)="updateProfile()"></button>
                                    </h2>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-6">
                                            <h4><i class="pi pi-mobile" style="font-size: 1rem"></i> Phone
                                                Number
                                            </h4>
                                            <div *ngIf="editFields">
                                                <input name="phoneNumber" id="value" type="tel" minlength="8"
                                                    maxlength="8" class="editable" pattern="^[89]\d{7}" pInputText
                                                    [(ngModel)]="phoneNumber" [disabled]="!editFields" required
                                                    (ngModelChange)="fieldChange()">
                                            </div>
                                            <div *ngIf="!editFields">
                                                <h4>{{phoneNumber}}</h4>
                                            </div>
                                            <div *ngIf="phoneNumberError">
                                                <p-message severity="error" text={{phoneNumberErrorMsg}}></p-message>
                                            </div>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <h4><i class="pi pi-inbox" style="font-size: 1rem"></i> Email</h4>

                                            <h4>{{email}}</h4>


                                        </div>
                                    </div>

                                </div>
                                <br/>
                                <div class="p-col-12">
                                    <h2>Address Details</h2>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-6">
                                            <h4><i class="pi pi-directions" style="font-size: 1rem"></i> Street
                                                Name</h4>
                                            <div *ngIf="editFields">
                                                <input name="streetName" id="value" type="text" minlength="6"
                                                    class="editable" pInputText [(ngModel)]="streetName"
                                                    [disabled]="!editFields" (ngModelChange)="fieldChange()" required>
                                            </div>
                                            <div *ngIf="!editFields">
                                                <h4>{{streetName}}</h4>
                                            </div>
                                            <div *ngIf="streetNameError">
                                                <p-message severity="error" text={{streetNameErrorMsg}}></p-message>
                                            </div>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <h4><i class="pi pi-home" style="font-size: 1rem"></i> Unit Number</h4>
                                            <div *ngIf="editFields">
                                                <input name="unitNumber" id="value" type="text" class="editable"
                                                    pInputText [(ngModel)]="unitNumber" [disabled]="!editFields"
                                                    (ngModelChange)="fieldChange()" required>
                                            </div>
                                            <div *ngIf="!editFields">
                                                <h4>{{unitNumber}}</h4>
                                            </div>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <h4><i class="pi pi-map-marker" style="font-size: 1rem"></i> Building Name
                                            </h4>
                                            <div *ngIf="editFields">
                                                <input name="buildingName" id="value" type="text" class="editable"
                                                    pInputText [(ngModel)]="buildingName" [disabled]="!editFields"
                                                    (ngModelChange)="fieldChange()">
                                            </div>
                                            <div *ngIf="!editFields">
                                                <div *ngIf="buildingName === ''">
                                                    <h4>N.A</h4>
                                                </div>
                                                <h4>{{buildingName}}</h4>
                                            </div>
                                        </div>
                                        <div class="p-col-12 p-md-6">
                                            <h4><i class="pi pi-envelope" style="font-size: 1rem"></i> Postal Code</h4>
                                            <div *ngIf="editFields">
                                                <input name="postal" id="value" type="number" pattern="^\d{6}"
                                                    class="editable" pInputText [(ngModel)]="postal"
                                                    [disabled]="!editFields" (ngModelChange)="fieldChange()" required>
                                            </div>
                                            <div *ngIf="!editFields">
                                                <h4>{{postal}}</h4>
                                            </div>
                                            <div *ngIf="postalError">
                                                <p-message severity="error" text={{postalErrorMsg}}></p-message>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="p-grid">
                                    <!-- <div class="p-col-0 p-md-0 p-lg-5" *ngIf="!editFields"></div>                -->

                                    <!-- <div class="p-col-12" *ngIf="!editFields">
                                        <button id="editButton" type="button" pButton icon=" ui-icon-build"
                                            expand="block" (click)="updateProfile()"
                                            label="Edit Account Details"></button>
                                    </div> -->

                                    <div class="p-col-12 p-md-4" *ngIf="editFields"></div>

                                    <div class="p-col-12" *ngIf="editFields">
                                        <button id="updateButton" type="button" pButton icon="pi pi-check"
                                            expand="block" type="submit" label="Update"
                                            [disabled]="updateForm.invalid || !fieldsUpdated"></button>
                                    </div>
                                    <div class="p-col-12" *ngIf="editFields">
                                        <button id="cancelButton" type="button" pButton icon="pi pi-times"
                                            expand="block" label="Cancel" (click)="updateProfile()"></button>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                    </form>
                </p-card>
            </div>
        </div>


        <form #changePasswordForm="ngForm" (ngSubmit)="change(changePasswordForm)">
            <div class="p-grid p-fluid">
                <p-dialog header="Change Password" [(visible)]="displayModal" [modal]="true" [style]="{width: '400px'}"
                    [draggable]="false" [closable]="false" [resizable]="false">

                    <p-messages [closable]="false" [value]="msgForDialog"></p-messages>

                    <div class=p-col-12>
                        <span class="p-input-icon-left">
                            <i class="pi pi-key"></i>
                            <input type="text" id="password" name="password" [(ngModel)]="password" type="password"
                                pInputText placeholder="Enter Current Password">
                        </span>
                    </div>

                    <div class=p-col-12>
                        <span class="p-input-icon-left">
                            <i class="pi pi-key"></i>
                            <input type="text" id="newPassword" name="newPassword" [(ngModel)]="newPassword"
                                type="password" pInputText placeholder="Enter New Password">
                        </span>
                    </div>

                    <div class=p-col-12>
                        <span class="p-input-icon-left">
                            <i class="pi pi-key"></i>
                            <input type="text" name="confirmNewPassword" [(ngModel)]="confirmNewPassword"
                                type="password" pInputText placeholder="Re-Enter New Password">
                        </span>
                    </div>

                    <div class="p-grid p-col-12">
                        <div class="p-md-6">
                            <button id="activationButton" type="button" pButton icon="pi pi-check" type="submit"
                                label="Submit" class="p-mr-6"></button>
                        </div>
                        <div class="p-md-6">
                            <button id="cancelDialogButton" type="button" pButton icon="pi pi-times" label="Cancel"
                                (click)="clearDialog()" class="p-mr-4"></button>
                        </div>
                    </div>
                </p-dialog>
            </div>
        </form>
    </div>
</body>

</html>