.form-status-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3px;
}

.status-badge {
  font-size: 15px;
  margin: 3px;
  background: #406E7E;
  color: #FFFFFF;
}

.marginCard {
  margin: 2px;
}

.status-badge-active {
  font-size: 14px;
  padding: 2px;
  margin: 3px;
  background: #4db806;
  color: #FFFFFF;
}

.status-badge-expired {
  font-size: 14px;
  padding: 2px;
  margin: 3px;
  background: #ff4d4d;
  color: #FFFFFF;
}

.pes-badge {
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  background: #607D8B;
  color: #000000;
}