<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="./assets/layout/images/logo-slim.png">
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" name="loginForm">
            <div class="login-panel-content">

                <div class="ui-g">
                    <div class="ui-g-12">
                        <h1>HoMED Serviceman Application</h1>

                        <p-messages [closable]="false" [value]="msgs"></p-messages>

                    </div>

                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" id="nric" pInputText name="nric" [(ngModel)]="nric" minlength="9"
                                maxlength="9" required>
                            <label>NRIC/FIN</label>
                        </span>
                    </div>

                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" name="password" [(ngModel)]="password" type="password" minlength="8"
                                maxlength="64" required pInputText>
                            <label id="lblName">Password</label>
                        </span>
                    </div>

                    <div class="ui-g-12">
                        <button pButton type="button" [disabled]="loginForm.invalid" type="submit" label="Login"
                            icon="ui-icon-person"></button>
                    </div>
                    <div class="ui-g-12">
                        Forget Password/OTP? <a href="javascript:void(0)" (click)="displayResetPassDialog=true">Click here</a> <br><br>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <form #activationForm="ngForm" (ngSubmit)="activate(activationForm)">
        <div class="ui-g form-group ui-fluid">
            <p-dialog header="Account Activation" [(visible)]="displayActivation" [modal]="true" [style]="{width: '350px'}"
                [draggable]="false" [closable]="false" [resizable]="false">

                <p-messages [closable]="false" [value]="msgForActivationDialog"></p-messages>

                <div class="ui-g-12">
                    <span class="md-inputfield md-inputfield-box">
                        <input type="text" id="newPassword" name="newPassword" [(ngModel)]="newPassword" type="password"
                            pInputText>
                        <label>Enter New Password</label>
                    </span>
                </div>

                <div class="ui-g-12">
                    <span class="md-inputfield md-inputfield-box">
                        <input type="text" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" type="password" pInputText>
                        <label>Re-Enter New Password</label>
                    </span>
                </div>

                <div class="ui-g-6" style="text-align: center;">
                    <button id="activationButton" type="button" pButton icon="pi pi-check" type="submit"
                        label="Activate"></button>
                </div>
                <div class="ui-g-6" style="text-align: center;">
                    <button id="cancelButton" type="button" pButton icon="pi pi-times" (click)="clearDialog()"
                        label="Cancel"></button>
                </div>
            </p-dialog>
        </div>
    </form>

    <form #forgetPasswordForm="ngForm" (ngSubmit)="reset(forgetPasswordForm)">
        <div class="ui-g form-group ui-fluid">
            <p-dialog header="Request for OTP" [(visible)]="displayResetPassDialog" [modal]="true" [style]="{width: '350px'}"
                [draggable]="false" [closable]="false" [resizable]="false">

                <p-messages [closable]="false" [value]="msgForForgetPasswordDialog"></p-messages>

                <div class="ui-g-12">
                    <span class="md-inputfield md-inputfield-box">
                        <input type="text" name="nric" [(ngModel)]="nricResetPass" type="text"
                            pInputText>
                        <label>Enter your NRIC</label>
                    </span>
                </div>
                <br /><br /><br /><br />
                <div class="ui-g-12">
                    <span class="md-inputfield md-inputfield-box">
                        <input type="text" name="email" [(ngModel)]="email" type="text" pInputText>
                        <label>Enter your Email</label>
                    </span>
                </div>
                <br /><br /><br /><br />
                <div class="ui-g-6" style="text-align: center;">
                    <button id="resetButton" type="button" pButton icon="ui-icon-send" type="submit"
                        label="Send OTP"></button>
                </div>
                <div class="ui-g-6" style="text-align: center;">
                    <button id="cancelButton" type="button" pButton icon="pi pi-times" (click)="clearResetDialog()"
                        label="Cancel"></button>
                </div>
            </p-dialog>
        </div>
    </form>

</div> 
