/* You can add global styles to this file, and also import other style files */

.messageOveride .p-inline-message {
    padding: 0.5rem 0.5rem;
} 

.radioDisabledOverride .p-disabled {
    opacity: 1;
}

.messageOveride2 .p-inline-message {
    justify-content: left;
}

.cardBackgroundOverride .p-card {
    background:#ff564a;
}

